/* main style sheet */
body {
  overflow-x: hidden;
  background-color: var(--body-color);
}
/* header */
header {
  padding-top: 46px;

  z-index: 0;
}
header .flex {
  align-items: center;
  /* overflow-x: hidden; */
  position: relative;
}
header .logo {
  height: auto;
  width: 155px;
}
header .header-pattern {
  position: absolute;
  top: -14rem;
  width: 458px;
  height: auto;
  z-index: -1;
}

/* section-a */
.section-a .flex {
  align-items: center;
}
.section-a img {
  height: auto;
  width: 171px;
}
.section-a .sec-a-content {
  text-align: center;
}

/* section-b */
.section-b .flex {
  align-items: center;
}
.section-b .grid {
  justify-content: center;
}
.section-b .card {
  min-width: 327px;
}
.section-b .grid .card:nth-of-type(2) {
  position: relative;
  /* z-index: 0; */
}
.section-b .grid .card:nth-of-type(2) img {
  position: absolute;
  bottom: 10rem;
}

@media screen and (min-width: 768px) {
  header {
    padding-top: 72px;
  }
  header .flex {
    align-items: flex-start;
  }
  header .header-pattern {
    width: 666px;
    right: -16rem;
    top: -15.2rem;
  }
  /* section-a */
  .section-a img {
    width: 281px;
  }

  .section-a .container {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .section-a .container .flex {
    align-items: flex-start;
  }

  .section-a .sec-a-content {
    text-align: left;
    max-width: 345px;
  }
  /* section-b */
  .section-b .card {
    width: 689px;
    flex-direction: row;
    justify-content: space-around;
  }
  .section-b .card .flex {
    align-items: flex-start;
  }
  .section-b .card h1 {
    margin: 0;
  }
  .section-b .grid .card:nth-of-type(2) img {
    top: -17rem;
    right: 6rem;
  }
  .section-b .card .card-top {
    margin: 0 0 50px 0;
  }
  .section-b .card .card-bot {
    position: relative;
  }

  .section-b .card button {
    position: absolute;
    bottom: 0;
    right: 170%;
  }
  .section-b .card .btn-sp {
    right: 150%;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding-top: 81px;
  }
  /* section-a */
  .section-a img {
    width: 400px;
  }
  /* section-b */
  .section-b .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 30px;
  }
  .section-b .card {
    flex-direction: column;
    width: 350px;
  }
  .section-b .card button {
    position: static;
  }
  .section-b .card .card-top {
    margin: 0;
  }
  .section-b .card .flex {
    align-items: center;
  }
  .section-b .grid .card:nth-of-type(2) img {
    top: -23rem;
    right: -16.5rem;
  }
}

@media screen and (min-width: 1440px) {
  /* header */
  header .header-pattern {
    width: 1134px;
    right: -33rem;
    top: -36.5rem;
  }
  /* section-a */
  .section-a .sec-a-content {
    max-width: 540px;
  }
  .section-a img {
    width: 475px;
  }
}
