/* main style sheet */
body {
  overflow-x: hidden;
  background-color: var(--body-color);
  position: relative;
}
/* header */
header {
  padding-top: 46px;

  z-index: 0;
}
header .flex {
  align-items: center;
  /* overflow-x: hidden; */
  position: relative;
}
header .logo {
  height: auto;
  width: 155px;
}
header .header-pattern {
  position: absolute;
  top: -14rem;
  width: 458px;
  height: auto;
  z-index: -1;
}

/* section-a */
.section-a .flex {
  align-items: center;
}
.section-a img {
  height: auto;
  width: 171px;
}
.section-a .sec-a-content {
  text-align: center;
}

/* section-b */
.section-b {
  position: relative;
  /* top: 59rem; */
}
/* .section-b .container {
  position: absolute;
} */
.section-b .flex {
  align-items: center;
}
.section-b .grid {
  justify-content: center;
}
.section-b .card {
  min-width: 327px;
  height: 512px;
}
.section-b .card h1 {
  margin: 0;
}
.section-b .grid .card:nth-of-type(2) {
  position: relative;
}
.section-b .grid .card:nth-of-type(2) img {
  position: absolute;
  bottom: 10rem;
}

/* footer */
footer {
  background-color: var(--dark-600);
  min-height: 1248px;
  width: 100%;
  position: absolute;
  bottom: -20rem;
  z-index: -49;
}
footer .grid {
  padding-top: 65rem;
  justify-content: center;
  align-content: center;
}
footer .grid span {
  color: #5175ff;
}
footer .container .grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  /* background-color: red; */
}
footer .timer-card p {
  margin: 0;
}
footer .timer-card p:nth-of-type(1) {
  font-size: 32px;
}

footer .timer-container {
  justify-content: space-between;
  padding-top: 0;
}
footer .timer-container .flex {
  flex-direction: column;
  justify-content: space-around;
}
footer button {
  margin: 20px 0;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  header {
    padding-top: 72px;
  }
  header .flex {
    align-items: flex-start;
  }
  header .header-pattern {
    width: 666px;
    right: -16rem;
    top: -15.2rem;
  }
  /* section-a */
  .section-a img {
    width: 281px;
  }

  .section-a .container {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .section-a .container .flex {
    align-items: flex-start;
  }

  .section-a .sec-a-content {
    text-align: left;
    max-width: 345px;
  }
  /* section-b */
  .section-b .card {
    height: 318px;
    width: 689px;
    flex-direction: row;
    justify-content: space-around;
  }
  .section-b .card .flex {
    align-items: flex-start;
  }
  .section-b .grid .card:nth-of-type(2) img {
    top: -17rem;
    right: 6rem;
  }
  .section-b .card .card-top {
    margin: 0 0 50px 0;
  }
  .section-b .card .card-bot {
    position: relative;
  }

  .section-b .card button {
    position: absolute;
    bottom: 0;
    right: 170%;
  }
  .section-b .card .btn-sp {
    right: 150%;
  }
  /* footer */
  footer {
    min-height: 986px;
    bottom: -23rem;
  }
  footer .grid {
    padding-top: 44rem;
  }
  footer .timer-container {
    justify-content: space-between;
    padding-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding-top: 81px;
  }
  /* section-a */
  .section-a img {
    width: 400px;
  }
  /* section-b */
  .section-b .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 30px;
  }
  .section-b .card {
    flex-direction: column;
    width: 350px;
    height: 508px;
  }
  .section-b .card button {
    position: static;
  }
  .section-b .card .card-top {
    margin: 0;
  }
  .section-b .card .flex {
    align-items: center;
  }
  .section-b .grid .card:nth-of-type(2) img {
    top: -23rem;
    right: -16.5rem;
  }
  /* footer */
  footer {
    min-height: 603px;
    bottom: -19rem;
  }
  footer .grid {
    padding-top: 24rem;
  }
  footer .timer-container {
    justify-content: space-between;
    padding-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  /* header */
  header .header-pattern {
    width: 1134px;
    right: -33rem;
    top: -36.5rem;
  }
  /* section-a */
  .section-a .sec-a-content {
    max-width: 540px;
  }
  .section-a img {
    width: 475px;
  }
  footer .timer-container {
    justify-content: space-between;
    padding-top: 0;
  }
}
